name: Label Blocked Issues

on:
  issues:
    types: [ opened, edited, reopened, closed ]

jobs:
  label-blocked-issues:
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - name: Check Rate Limit
        id: rate_limit
        run: |
          response=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" "https://api.github.com/rate_limit")
          remaining=$(echo "$response" | jq .rate.remaining)
          reset=$(echo "$response" | jq .rate.reset)
          echo "remaining=$remaining" >> $GITHUB_ENV
          echo "reset=$reset" >> $GITHUB_ENV

      - name: Find Issues That Must Be Blocked
        if: ${{ env.remaining }} > 10
        id: find-blocked-issues
        run: |
          issue_body=$(jq -r .issue.body $GITHUB_EVENT_PATH)
          dependencies=$(echo "$issue_body" | grep -oP "(?<=^|\s)#\d+(?=\s|$)" | sed 's/#//g' || true)
          found_blocked=false
          errors=()

          for issue in $dependencies; do
            status=$(curl -s -w "%{http_code}" -X GET \
              -H "Accept: application/vnd.github.v3+json" \
              -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ github.repository }}/issues/$issue")
            http_status=$(tail -n1 <<< "$status")
            body=$(head -n-1 <<< "$status")

            if [[ "$http_status" != "200" ]]; then
              echo "HTTP Status: $http_status, Error fetching status for issue #$issue"
              errors+=("Error fetching status for issue #$issue")
              continue
            fi

            status=$(echo "$body" | jq -r .state)

            if [ "$status" != "closed" ] || [ "$status" != "reopen" ]; then
             echo "Issue #$issue is still open"
             found_blocked=true
            fi
          done

          if [ ${#errors[@]} -ne 0 ]; then
            printf '%s\n' "${errors[@]}"
            exit 1
          fi

          if [[ "$found_blocked" == true ]]; then
            echo "The script has determined that the issue must be blocked."
            echo "blocked=true" >> $GITHUB_ENV
          else
            echo "All dependencies are closed. No 'blocked' label needed."
            echo "blocked=false" >> $GITHUB_ENV
          fi

      - name: Label Issue as Blocked
        if: ${{ env.blocked == 'true' }}
        run: |
          echo "Labeling issue as blocked..."
          echo "GitHub Repository: ${{ github.repository }}"
          echo "Issue Number: ${{ github.event.issue.number }}"

          response=$(curl -s -w "%{http_code}" -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            -d '{"labels": ["blocked"]}' \
            "https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/labels")
          http_status=$(tail -n1 <<< "$response")

          if ! [[ "$http_status" =~ ^2 ]]; then
            echo "Failed to add 'blocked' label: HTTP $http_status"
            exit 1
          fi

      - name: Unlabel Blocked Issues if Dependencies are Closed
        if: ${{ github.event_name == 'issues' && github.event.action == 'closed' }}
        run: |
          closed_issue_number=${{ github.event.issue.number }}
          echo "Closed issue number: $closed_issue_number"

          # Find issues that depend on the closed issue
          dependent_issues=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/issues?state=all" | \
            jq --arg closed_issue_number "$closed_issue_number" \
            '.[] | select(.body | test("#" + $closed_issue_number + "(?![0-9])")) | .number')

          for dependent_issue in $dependent_issues; do
            echo "Checking dependencies for issue #$dependent_issue..."

            # Find dependencies of the dependent issue
            dependencies=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
              "https://api.github.com/repos/${{ github.repository }}/issues/$dependent_issue" | \
              jq -r '.body' | grep -oP "(?<=^|\s)#\d+(?=\s|$)" | sed 's/#//g')

            all_dependencies_closed=true

            for dependency in $dependencies; do
              # Check the state of each dependency
              state=$(curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                "https://api.github.com/repos/${{ github.repository }}/issues/$dependency" | \
                jq -r '.state')

              if [ "$state" != "closed" ]; then
                echo "Dependency #$dependency is still open."
                all_dependencies_closed=false
                break
              fi
            done

            if $all_dependencies_closed; then
              echo "Removing 'blocked' label from dependent issue #$dependent_issue..."
              response=$(curl -s -w "%{http_code}" -X DELETE \
                -H "Accept: application/vnd.github.v3+json" \
                -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                "https://api.github.com/repos/${{ github.repository }}/issues/$dependent_issue/labels/blocked")

              http_status=$(tail -n1 <<< "$response")
              if [[ "$http_status" == "404" ]]; then
                echo "'Blocked' label was not present on dependent issue #$dependent_issue."
              elif ! [[ "$http_status" =~ ^2 ]]; then
                echo "Failed to remove 'blocked' label from dependent issue #$dependent_issue: HTTP $http_status"
                exit 1
              fi
            else
              echo "Not removing 'blocked' label from dependent issue #$dependent_issue. Some dependencies are still open."
            fi
          done
      
